{% extends "base.html" %}

{% block content %}
    <h1>Blog Posts</h1>


    <hr>

    {% if blogs|length == 0 %}
    <p>No blogs</p>
    {% else %}

        <div>
            {% for blog in blogs %}
                <p> <a href="/blog?id={{blog.id}}"><strong>{{blog.title}}</a></p>
                    <p>Written by: <a href="/blog?user={{blog.owner.id}}">{{blog.owner.username}}</a></p>
                
                <p>{{blog.body}}</p>
             
            {% endfor %}
        </div>

    {% endif %}


    <hr />


{% endblock %}

<!--LIST CREATED BLOGS-->